$primary-color: #034a73;
$secondary-color: #fff;
$background-color: #fff;
$links-hover-color: #0468a2;
$side-menu-hover-color: #0085d1;
$light-color: #4bb9f8;
$font-family: 'Mulish',
sans-serif;



$website-width: 1100px;