@import 'config';
@import 'utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: $font-family;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

//Header
#main-header {
  background: $primary-color;
  position: relative;

  #main-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;

    .logo-container {
      background: $background-color;
      padding: 1rem;
      position: absolute;
      top: 0;
      left: 0;
      box-shadow: 5px 5px 8px -2px rgba(0, 0, 0, 0.41);
    }

    ul {
      display: flex;
      margin: 0.7rem 0;

      li {
        padding: 1rem 0;

        a {
          padding: 1rem 1.5rem;
          color: $secondary-color;
          transition: 0.2s;
          font-size: 1.2rem;

          &:hover {
            background: $menu-hover-color;
          }
        }
      }
    }
  }

  .search {
    color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 78px;
    top: 0;
    right: 0;


    div {
      background: $primary-color;
      z-index: 1;

      i {
        display: inline-block;
        font-size: 2rem;
        // margin: 0 1rem;
        padding: .5rem;

        &:hover {
          transition: 0.2s;
          cursor: pointer;
          color: $primary-color;
          background: $secondary-color;
        }

      }
    }

    .search-field {
      // border: none;
      padding: 0.5rem;
      position: relative;
      right: -300px;

    }


  }

}

//About section
#main-section {
  .content {
    column-count: 2;
    column-gap: 2rem;
    // display: grid;
    // grid-template-columns: 1fr 1fr;

    &-container {}

    p {
      text-align: justify;
      line-height: 1.5rem;

      span {
        text-transform: uppercase;
        display: block;
      }
    }
  }
}

//footer
#main-footer {
  background: $primary-color;
  height: 50px;
  margin-top: 6rem;
}